/* Hides the radio button */
.customize-control-radio-image input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

/* Makes images look clickable */
.customize-control-radio-image img {
    border: 4px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    max-width: 100%;
    padding: 1px;
}

/* Adds blue border around currently selected image */
.customize-control-radio-image input:checked + img {
    border-color: #00a0d2;
}

.ifs-image-select-label{
	position:relative;
}

.ifs-image-select-img{
	max-width:70px;
}

.ifs-image-select-enlarge{
	display:none;
	position:absolute;
	left:0px;
	top:100%;
	margin-top:0px;
	max-width:400px;

}

.ifs-image-select-label:hover .ifs-image-select-enlarge{
	display:block;
}