/*
Header Name: Header Hotel 01
*/

.site-before-header{
	background-color:#fff;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

.top_col{
	padding-top:4px;
	padding-bottom:4px;
}

.top_col_1 *{
	text-align:left;
}

.top_col_2 *{
	text-align:right;
}

.top-info{
	font-size:0.8em;
}

.top-menu #top-menu{
	list-style-type:none;
	margin:0px;
	padding:0px;
	display:block;
	font-size:0.8em;
}

.top-menu #top-menu li{
	list-style-type:none;
	display:inline-block;
	padding:0px 10px;
}
.top-menu #top-menu li:first-child{
	padding-left:0;
}
.top-menu #top-menu li:last-child{
	padding-right:0;
}

.outerheader{
	min-height: 123px;
}
.site-header{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index:99;
}

.admin-bar .site-header{
	top: 32px;
}

.site-header .container{

	max-width:none;
}

.site-header .container .row{

	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;

	-webkit-align-content: flex-start;
	-ms-flex-line-pack: flex-start;
	align-content: flex-start;

}

.site-header .site-branding{
	order:1;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
}

.site-header .site-title{
	font-size:3.8em;
	font-weight:400;
	text-transform: uppercase;
	margin-top:0em;
	margin-bottom:0em;
}

.site-header .site-title.noh1{

}

.site-header .site-title a{
	color:#3a3a3a;
	text-decoration:none;
}

.site-header .site-description{
	margin:0;
}

.site-header .main-navigation{
	order:2;
	position:relative;
	padding-left:15px;
	padding-right:15px;
	margin-top:15px;
	clear:none;
	width:auto;
	text-align:right;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.site-header .main-navigation button.menu-toggle{
	outline:none;
	display:inline-block;
	width:90px;
	height:90px;
	background-color:#fff;
	border:0px;
	position:relative;
	z-index:101;
	
}

.site-header .main-navigation button.menu-toggle .menu-bar,
.site-header .main-navigation button.menu-toggle .menu-bar:before,
.site-header .main-navigation button.menu-toggle .menu-bar:after{
	display:block;
	width:26px;
	height:1px;
	background-color:#262633;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-13px;
	z-index:99;
}

.site-header .main-navigation button.menu-toggle .menu-bar:before{
	content:"";
	margin-top:-10px;
}

.site-header .main-navigation button.menu-toggle .menu-bar:after{
	content:"";
	margin-top:10px;
}

.site-header .main-navigation .primary-menu-container{
	position:absolute;
	top:0px;
	right:15px;
	background-color:#fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding-top:90px;
	width:570px;
	z-index:90;
	height:calc( 100vh - 30px );
	opacity:0;
	visibility:hidden;
	transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
	-moz-transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
	-webkit-transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
}

.ifs-menu-active .site-header .main-navigation .primary-menu-container{
	visibility: visible;
	opacity:1;
}

.site-header .primary-menu-container .menu-back{
	display:inline-block;
	position:absolute;
	cursor: pointer;
	opacity:0;
	top:0px;
	left:90px;
	z-index:110;
	transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
	-moz-transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
	-webkit-transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
}

.site-header .primary-menu-container.inside-submenu .menu-back{
	opacity:1;
}

.site-header .primary-menu-container a{
	font-weight:500;
	font-size:1.149em;
	letter-spacing:2px;
	color:#262633;
	text-transform: uppercase;
	outline: none;
}

.site-header .primary-menu-container #menu-1-container,
.site-header .primary-menu-container #primary-menu{
	padding:70px 0 0;
	overflow-x:hidden;
	overflow-y:auto;
	position:relative;
	height:100%;
}

.site-header .primary-menu-container #menu-1-container:before,
.site-header .primary-menu-container #primary-menu:before{
	content:"";
	height:1px;
	left:90px;
	right:90px;
	top:40px;
	background-color:#f4f4f4;
	position:absolute;
}

.site-header .primary-menu-container #menu-1-container ul.menu,
.site-header .primary-menu-container #primary-menu > ul,
.site-header .primary-menu-container #menu-1-container > ul.sub-menu,
.site-header .primary-menu-container #primary-menu > ul.children{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	padding:70px 90px 30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	opacity:1;
	z-index:100;
	transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
	-moz-transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
	-webkit-transition:opacity 0.5s cubic-bezier(.3,.1,.3,1);
}

.site-header .primary-menu-container.inside-submenu #menu-1-container ul.menu,
.site-header .primary-menu-container.inside-submenu #primary-menu > ul{
	opacity:0;
	z-index:10;
}

.site-header .primary-menu-container #menu-1-container > ul.sub-menu,
.site-header .primary-menu-container #primary-menu > ul.children{
	opacity:0;
	z-index:10;
}

.site-header .primary-menu-container.inside-submenu #menu-1-container > ul.sub-menu,
.site-header .primary-menu-container.inside-submenu #primary-menu > ul.children{
	opacity:1;
	z-index:100;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li,
.site-header .primary-menu-container #primary-menu > ul > li,
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li,
.site-header .primary-menu-container #primary-menu > ul.children > li{
	position:relative;
	left:0px;
	transition:left 0.5s cubic-bezier(.3,.1,.3,1);
	-moz-transition:left 0.5s cubic-bezier(.3,.1,.3,1);
	-webkit-transition:left 0.5s cubic-bezier(.3,.1,.3,1);
}

.site-header .primary-menu-container.inside-submenu #menu-1-container ul.menu > li,
.site-header .primary-menu-container.inside-submenu #primary-menu > ul > li{
	left: -100%;
}

.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li,
.site-header .primary-menu-container #primary-menu > ul.children > li{
	left:110%;
}

.site-header .primary-menu-container.inside-submenu #menu-1-container > ul.sub-menu > li,
.site-header .primary-menu-container.inside-submenu #primary-menu > ul.children > li{
	left:0%;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+1 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+1 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+1 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+1 ){
	transition-delay:0.1s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+2 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+2 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+2 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+2 ){
	transition-delay:0.2s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+3 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+3 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+3 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+3 ){
	transition-delay:0.3s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+4 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+4 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+4 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+4 ){
	transition-delay:0.4s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+5 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+5 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+5 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+5 ){
	transition-delay:0.5s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+6 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+6 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+6 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+6 ){
	transition-delay:0.6s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+7 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+7 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+7 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+7 ){
	transition-delay:0.7s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+8 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+8 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+8 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+8 ){
	transition-delay:0.8s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+9 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+9 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+9 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+9 ){
	transition-delay:0.9s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+10 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+10 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+10 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+10 ){
	transition-delay:1s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+11 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+11 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+11 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+11 ){
	transition-delay:1.1s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+12 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+12 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+12 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+12 ){
	transition-delay:1.1s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+13 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+13 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+13 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+13 ){
	transition-delay:1.3s;
}

.site-header .primary-menu-container #menu-1-container ul.menu > li:nth-child( n+14 ),
.site-header .primary-menu-container #primary-menu > ul > li:nth-child( n+14 ),
.site-header .primary-menu-container #menu-1-container > ul.sub-menu > li:nth-child( n+14 ),
.site-header .primary-menu-container #primary-menu > ul.children > li:nth-child( n+14 ){
	transition-delay:1.4s;
}

.site-header .main-navigation li{
	float:none;
	text-align:left;
	margin-bottom:30px;
}

.site-header .main-navigation li a{
	display:block;
	padding-left:114px;
	padding-top:0px;
	padding-bottom:0px;
	position:relative;
	transition: padding-left 0.5s cubic-bezier(.3,.1,.3,1);
	-moz-transition: padding-left 0.5s cubic-bezier(.3,.1,.3,1);
	-webkit-transition: padding-left 0.5s cubic-bezier(.3,.1,.3,1);
}

.site-header .main-navigation li:hover a{
	padding-left:130px;
}

.site-header .main-navigation li a:before{
	content:"";
	position:absolute;
	top:50%;
	left:0px;
	width:40px;
	height:2px;
	margin-top:-1px;
	background-color:#262633;
	transition: width 0.5s cubic-bezier(.3,.1,.3,1);
	-moz-transition: width 0.5s cubic-bezier(.3,.1,.3,1);
	-webkit-transition: width 0.5s cubic-bezier(.3,.1,.3,1);
}

.site-header .main-navigation li a:after{
	content:"";
	position:absolute;
	top:50%;
	left:40px;
	margin-top:-4px;
	width:8px;
	height:8px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border:1px solid #262633;
	transition: left 0.5s cubic-bezier(.3,.1,.3,1);
	-moz-transition: left 0.5s cubic-bezier(.3,.1,.3,1);
	-webkit-transition: left 0.5s cubic-bezier(.3,.1,.3,1);
}

.site-header .main-navigation li:hover a:before{
	width:100px;
}

.site-header .main-navigation li:hover a:after{
	left:100px;
}

.site-header .main-navigation li ul.sub-menu,
.site-header .main-navigation li ul.children{
	display:none;
}

.site-header .main-navigation li.current-menu-item a,
.site-header .main-navigation li.current_page_item a,
.site-header .main-navigation li.current-menu-parent a,
.site-header .main-navigation li.current_page_parent a,
.site-header .main-navigation li.current-menu-ancestor a,
.site-header .main-navigation li.current_page_ancestor a,
.site-header .main-navigation li a:hover{
	
}

.site-header .main-navigation ul.nav-menu > li.menu-item-has-children,
.site-header .main-navigation ul.nav-menu > li.page_item_has_children{
	
}

.site-header .main-navigation ul.nav-menu > li.menu-item-has-children:after,
.site-header .main-navigation ul.nav-menu > li.page_item_has_children:after{
	
}

.site-header .main-navigation ul li.menu-item-has-children ul,
.site-header .main-navigation ul li.page_item_has_children ul{
	
}

.site-header .main-navigation ul li.menu-item-has-children li,
.site-header .main-navigation ul li.page_item_has_children li{
	
}

.site-header .main-navigation ul li.menu-item-has-children li a,
.site-header .main-navigation ul li.page_item_has_children li a{
	
}
.site-header .main-navigation ul li button.child_toggle{
	
}
.site-header .main-navigation ul li li button.child_toggle{
	
}
.site-header .main-navigation ul li button.child_toggle i:before{
	
}
.site-header .main-navigation ul li.child_opened > button.child_toggle i:before{
	
}
.site-header .main-navigation ul li.menu-item-has-children li:hover > a,
.site-header .main-navigation ul li.menu-item-has-children li a.current-menu-item,
.site-header .main-navigation ul li.page_item_has_children li:hover > a,
.site-header .main-navigation ul li.page_item_has_children li a.current_page_item{
	
}

@media only screen and (min-width:769px){
	.top_col_2 .top-menu #top-menu{
		text-align:right;
	}

	#primary-menu-close{
		display:none;
	}
}

@media only screen and (max-width:768px){
	.top-menu .menu{
		text-align:center;
	}
	.top-info{
		text-align:center;
	}

	.top_col .widget{
		margin-bottom:1.5em;
		font-size:0.8em;
	}
	.top_col .widget-title{
		font-size:1rem;
	}

	.menu-toggle{
		
	}

	.primary-menu-container{
		
	}
	.admin-bar .primary-menu-container{
		top:46px;
	}

	#site-navigation.toggled .primary-menu-container{
		right:0px;
	}

	.main-navigation ul{
		display:block;
	}

	ul.nav-menu{
		
	}

	.site-header .main-navigation li{
		
	}

	.site-header .main-navigation ul.nav-menu > li:hover:before,
	.site-header .main-navigation ul.nav-menu > li.child_opened:before,
	.site-header .main-navigation ul.nav-menu > li.current-menu-item:before,
	.site-header .main-navigation ul.nav-menu > li.current_page_item:before{
		
	}

	.site-header .main-navigation li a{
		font-size:1.4rem;
		line-height:1.5em;
	}

	.site-header .main-navigation ul.nav-menu li.menu-item-has-children:after,
	.site-header .main-navigation ul.nav-menu li.page_item_has_children:after{
		display:none;
	}

	.site-header .main-navigation ul li button.child_toggle{
		display:block;
	}

	.site-header .main-navigation ul li ul.sub-menu{
		
	}
	.site-header .main-navigation ul.nav-menu > li > ul.sub-menu{
		
	}

	.site-header .main-navigation ul li.child_opened > ul.sub-menu{
		display:block;
	}

	.site-header .main-navigation ul li.menu-item-has-children li{
		
	}
	.site-header .main-navigation ul.nav-menu li li:hover > a{
		
	}
	.site-header .main-navigation ul li.menu-item-has-children li a,
	.site-header .main-navigation ul li.page_item_has_children li a{
		
	}
}
