/*
Header Name: Header Corporate 1
*/

body.ifs{
	padding-left:75px;
}

.site-before-header{
	background-color:#fff;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	display:none;
}

.top_col{
	padding-top:4px;
	padding-bottom:4px;
}

.top_col_1 *{
	text-align:left;
}

.top_col_2 *{
	text-align:right;
}

.top-info{
	font-size:0.8em;
}

.top-menu #top-menu{
	list-style-type:none;
	margin:0px;
	padding:0px;
	display:block;
	font-size:0.8em;
}

.top-menu #top-menu li{
	list-style-type:none;
	display:inline-block;
	padding:0px 10px;
}
.top-menu #top-menu li:first-child{
	padding-left:0;
}
.top-menu #top-menu li:last-child{
	padding-right:0;
}

.site-header{
	background-color:#fff;
	border-right:1px solid #f0f0f0;
	position:fixed;
	left:0px;
	top:0px;
	bottom:0px;
	z-index:100;
	width:75px;
}

.site-header .container{
	width:100%;
	min-height:100%;
	height:100%;
	position:relative;
}

.site-header .container:before{
	content:"";
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:297;

	background:linear-gradient(to bottom, #7e3396 0%, #127dc7 100%);

	transform:translateX( -100% ) translateY( 0% );
	-webkit-transform:translateX( -100% ) translateY( 0% );
	-moz-transform:translateX( -100% ) translateY( 0% );

	transition:all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition:all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition:all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
}

.site-header .container:after{
	content:"";
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:295;

	background-color:#ffffff;

	transform:translateX( 0% ) translateY( 0% );
	-webkit-transform:translateX( 0% ) translateY( 0% );
	-moz-transform:translateX( 0% ) translateY( 0% );

	transition:all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition:all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition:all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
}

body.nav_openned .site-header .container:before{

	transform:translateX( 0% ) translateY( 0% );
	-webkit-transform:translateX( 0% ) translateY( 0% );
	-moz-transform:translateX( 0% ) translateY( 0% );
}

.site-header .container .row{
	display: flex;
  	flex-direction:column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	justify-content: center;
	min-height:100%;
}

.site-header .site-branding{
	order:1;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position:relative;
	z-index:299;
	padding-left:15px;
	padding-right:15px;
	padding-top:0px;
	padding-bottom:0px;
	align-self: flex-start;
	-webkit-box-flex: 1;
    	-webkit-flex: 1;
    	-ms-flex: 1;
    	flex: 1;
}

.site-header .site-title{
	display:none;
}

.site-header .site-title.noh1{

}

.site-header .site-title a{
	color:#3a3a3a;
	text-decoration:none;
}

.site-header .site-description{
	display:none;
	margin:0;
}

.site-header .site-branding img{
	display:block;
	margin-top:50px;
	margin-bottom:15px;
	max-width:100%;
}

.site-header .menu-toggle{
	display:block;
	width:30px;
	height:20px;
	order:2;
	padding:0px;
	border:0px;
	color:#333;
	z-index: 299;
	position:relative;
	background:transparent;
	overflow:visible;
	font-size:1.3em;
	outline:none;
	-webkit-box-flex: 1;
    	-webkit-flex: 1;
    	-ms-flex: 1;
    	flex: 1;
}

.menu-bar,
.menu-bar:before,
.menu-bar:after{
	display:block;
	position:absolute;
	background-color:#000;
	top:50%;
	left:0px;
	width:30px;
	height:2px;
	transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
}

.menu-bar{
	margin-top:-1px;
}

.menu-bar:before{
	content:"";
	margin-top:-8px;
}

.menu-bar:after{
	content:"";
	margin-top:7px;
}

body.nav_openned .menu-bar{
	background-color:transparent;
}

body.nav_openned .menu-bar:before{
	background-color:#fff;
	margin-top:0px;
	transform:rotate( -45deg );
	-moz-transform:rotate( -45deg );
	-webkit-transform:rotate( -45deg );
}

body.nav_openned .menu-bar:after{
	background-color:#fff;
	margin-top:0px;
	transform:rotate( 45deg );
	-moz-transform:rotate( 45deg );
	-webkit-transform:rotate( 45deg );
}

.site-header .menu-toggle .menu-bar-open,
.site-header .menu-toggle .menu-bar-close{
	font-size: 0.5em;
	font-weight: 400;
	text-transform: uppercase;
	display:block;
	position:absolute;
	top:50%;
	left:0px;
	margin-top:18px;
	width:30px;
	text-align: center;
	color:#333;
}

.site-header .menu-toggle .menu-bar-close{
	display:none;
	color:#fff;
}

body.nav_openned .menu-toggle .menu-bar-open{
	display:none;
}

body.nav_openned .menu-toggle .menu-bar-close{
	display:block;
}

.site-header .balancer{
	order:3;
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
}

.site-header .main-navigation{
	visibility:collapse;
	display:block;
	position:fixed;
	z-index: 290;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow-x:hidden;
	overflow-y:scroll;
	scrollbar-width:none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.site-header .main-navigation::-webkit-scrollbar{
	display:none;
}

.site-header .main-navigation:before,
.site-header .main-navigation:after{
	content:"";
	display:block;
	position:fixed;
	z-index: 288;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(255,255,255,0.1);
	transform:translateX( -100% ) translateY( 0% );
	-webkit-transform:translateX( -100% ) translateY( 0% );
	-moz-transform:translateX( -100% ) translateY( 0% );

	transition:all 1.1s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition:all 1.1s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition:all 1.1s cubic-bezier(0.77, 0, 0.175, 1);
	transition-delay:0.1s;
}

.site-header .main-navigation:after{
	z-index: 289;
	background:#7e3396;
	background:linear-gradient(to bottom, #7e3396 0%, #127dc7 100%);
	transition-delay:0.3s;
}

body.nav_openned .site-header .main-navigation{
	visibility:visible;

}

body.nav_openned .site-header .main-navigation:before,
body.nav_openned .site-header .main-navigation:after{
	
	transform:translateX( 0% ) translateY( 0% );
	-webkit-transform:translateX( 0% ) translateY( 0% );
	-moz-transform:translateX( 0% ) translateY( 0% );

}

.site-header .primary-menu-container{
	max-width:1140px;
	margin:0px auto;
	padding-top:80px;
}

.site-header .main-navigation li{
	float:none;
	display:inline-block;
	margin-left:1em;
}

.site-header .main-navigation ul#primary-menu{
	opacity:0;
	position:relative;
	z-index:291;
	padding-top:85px;
	padding-left:75px;

	transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1);
	transition-delay:0s;
}

.site-header .main-navigation ul#primary-menu:after{
	content:"";
	clear:both;
	display:block;
}

body.nav_openned .site-header .main-navigation ul#primary-menu{
	opacity:1;
	transition-delay:1s;
}

.site-header .main-navigation li a{
	color:#fff;
	font-size:1.2em;
	font-weight:800;
	text-transform:uppercase;
}

.site-header .main-navigation li.current-menu-item a,
.site-header .main-navigation li.current_page_item a,
.site-header .main-navigation li.current-menu-parent a,
.site-header .main-navigation li.current_page_parent a,
.site-header .main-navigation li.current-menu-ancestor a,
.site-header .main-navigation li.current_page_ancestor a{
	color:#fff;
}

.site-header .main-navigation li a:hover{
	color:#fff;
	color:rgba(255,255,255,0.5);
}

.site-header .main-navigation ul.menu > li{
	float:left;
	width:49%;
	margin:0px 0px 40px;
	padding:0px;
}

.site-header .main-navigation ul.menu > li > a{
	color:#fff;
	color:rgba(255,255,255,0.5);
}

.site-header .main-navigation ul.menu > li:nth-child(2n+1){
	clear:both;
}

.site-header .main-navigation ul li.menu-item-has-children ul,
.site-header .main-navigation ul li.page_item_has_children ul{
	box-shadow:none;
	background-color:transparent;
	border-bottom:0px;
	position:static;
}

.site-header .main-navigation ul li.menu-item-has-children li,
.site-header .main-navigation ul li.page_item_has_children li{
	margin-left:0px;
	display:block;
}

.site-header .main-navigation ul li.menu-item-has-children li a,
.site-header .main-navigation ul li.page_item_has_children li a{
	width:auto;
	background-color:transparent;
	border:0px;
	padding:0px;
	display:block;
	font-size:2em;
	font-weight:700;
	text-transform: none;
}
.site-header .main-navigation ul li button.child_toggle{
	display:none;
	background-color:transparent;
	border:0px;
	color:#000;
	padding:0px;
	position:absolute;
	top:3px;
	right:2px;
	font-size:2em;
	outline:none;
}
.site-header .main-navigation ul li li button.child_toggle{
	font-size:1.3em;
}
.site-header .main-navigation ul li button.child_toggle i:before{
	content:"\f105";
}
.site-header .main-navigation ul li.child_opened > button.child_toggle i:before{
	content:"\f107";
}
.site-header .main-navigation ul li.menu-item-has-children li:hover > a,
.site-header .main-navigation ul li.menu-item-has-children li a.current-menu-item,
.site-header .main-navigation ul li.page_item_has_children li:hover > a,
.site-header .main-navigation ul li.page_item_has_children li a.current_page_item{
	background-color:transparent;
}

@media only screen and (min-width:769px){
	.top_col_2 .top-menu #top-menu{
		text-align:right;
	}

	#primary-menu-close{
		display:none;
	}
}

@media only screen and (max-width:768px){

	body.ifs{
		padding-left:0px;
	}
	.top-menu .menu{
		text-align:center;
	}
	.top-info{
		text-align:center;
	}

	.top_col .widget{
		margin-bottom:1.5em;
		font-size:0.8em;
	}
	.top_col .widget-title{
		font-size:1rem;
	}

	.site-header{
		position:static;
		width:auto;
		height:75px;
	}

	.site-header .container{
		width:100%;
		min-height:100%;
		height:100%;
	}

	.site-header .container .row{
		display: flex;
	  	flex-direction:row;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		justify-content: center;
	}

	.site-header .site-branding a.custom-logo-link{
		display:block;
	}

	.site-header .site-branding img{
		margin-top:13px;
		margin-bottom:13px;
		height: 50px;
	}

	.site-header .menu-toggle{
		order:3;
	}

	.menu-bar, 
	.menu-bar:before, 
	.menu-bar:after{
		left:auto;
	}

	.menu-bar{
		right:15px;
	}

	.site-header .menu-toggle .menu-bar-open, 
	.site-header .menu-toggle .menu-bar-close{
		left:auto;
		right:15px;
		display:none;
	}

	body.nav_openned .site-header .menu-toggle .menu-bar-close{
		display:none;
	}

	.site-header .balancer{
		order:2;
	}

	.site-header .container:before{

		transform:translateX( 0% ) translateY( -100% );
		-webkit-transform:translateX( 0% ) translateY( -100% );
		-moz-transform:translateX( 0% ) translateY( -100% );
	}

	body.nav_openned .site-header .container:before{

		transform:translateX( 0% ) translateY( -100% );
		-webkit-transform:translateX( 0% ) translateY( -100% );
		-moz-transform:translateX( 0% ) translateY( -100% );
	}

	body.nav_openned .site-header .container:after{

		transform:translateX( 0% ) translateY( -100% );
		-webkit-transform:translateX( 0% ) translateY( -100% );
		-moz-transform:translateX( 0% ) translateY( -100% );
	}

	.site-header .main-navigation:before,
	.site-header .main-navigation:after{
		transform:translateX( 0% ) translateY( -100% );
		-webkit-transform:translateX( 0% ) translateY( -100% );
		-moz-transform:translateX( 0% ) translateY( -100% );
	}

	.main-navigation ul{
		display:block;
	}

	.site-header .main-navigation ul#primary-menu{
		padding-left:20px;
		padding-right:20px;
		max-width:540px;
		margin:0px auto;
	}

}
